// sass --watch scss/style.scss:css/style.css
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$seablue: #006E90;
$tangerine: #F18F01;
$pastelblue: #ADCAD6;
$androidgreen: #99C24D;
$pictonblue: #41BBD9;
$lightcyan: #DFF8EB;
$complement: #F7F7DF;
$background-complement: #caf3de;

$box-background-color: $lightcyan;
$modal-card-head-background-color: $complement;
$modal-card-body-background-color: $complement;
$body-background-color: $background-complement;


@import "bulma/bulma.scss";
@import "animation.scss";



.modal-content{
  margin: 20%;
}

#firstpagebox{
  margin: 5%;
}

.card{
  margin: 20% 0;

  .card-footer {
    border: 3px solid $seablue;
    border-radius: $radius-large;
    background-color: $complement;
  }
}

p.is-size-2{
  width: 100%;
  text-align: center;
}


.button{
  background-color: $complement;
  border: 3px solid $seablue;
}

.box {
  border: 6px solid $seablue;
  margin: 5%;
}

#droparea{
  background-color: $complement;
  border: 1px solid $seablue;
}

.question-image-template{

  .choiceimage{
    padding: 20px;
  }
}
